<meta property="og:url" content="https://mbsr.netlify.com/" />
<meta property="og:title" content="MBSR Template" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}MBSR Template is for learning to be mindful!{%- endif -%}" />
{# <meta property="og:image" content='https://eleventail.netlify.com/images/og-card.jpg' /> #}
