---
title: MBSR Template - Readings
layout: default
description: List of readings for mindfulness
---

<section>
  <h1 class="heading">Readings</h1>
  <p>
    All of these entries are posts in a collection
  </p>
    {% include "readings.html" %}
</section>
